body {
    background-color: black;
}
img{
   width:450px;
   height:450px;
   border: 20px solid white;
   margin-left: 400px;
  

}
h1{
    color: whitesmoke;
    text-align:center;
    margin-top: 5px;
    font-style:initial;
    margin-left: 25px;
}
.div1{
    margin:5px;
}
p{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
    text-align: center;
}